/*******define font*******/
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/eot/IRANSansWeb(FaNum)_Black.eot');
    src: url('../fonts/eot/IRANSansWeb(FaNum)_Black.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../fonts/woff2/IRANSansWeb(FaNum)_Black.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/IRANSansWeb(FaNum)_Black.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/IRANSansWeb(FaNum)_Black.ttf') format('truetype');
}
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/eot/IRANSansWeb(FaNum)_Bold.eot');
    src: url('../fonts/eot/IRANSansWeb(FaNum)_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../fonts/woff2/IRANSansWeb(FaNum)_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/IRANSansWeb(FaNum)_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/IRANSansWeb(FaNum)_Bold.ttf') format('truetype');
}
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/eot/IRANSansWeb(FaNum)_Medium.eot');
    src: url('../fonts/eot/IRANSansWeb(FaNum)_Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../fonts/woff2/IRANSansWeb(FaNum)_Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/IRANSansWeb(FaNum)_Medium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/IRANSansWeb(FaNum)_Medium.ttf') format('truetype');
}
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/eot/IRANSansWeb(FaNum)_Light.eot');
    src: url('../fonts/eot/IRANSansWeb(FaNum)_Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../fonts/woff2/IRANSansWeb(FaNum)_Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/IRANSansWeb(FaNum)_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/IRANSansWeb(FaNum)_Light.ttf') format('truetype');
}
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot');
    src: url('../fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../fonts/woff2/IRANSansWeb(FaNum)_UltraLight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/IRANSansWeb(FaNum)_UltraLight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/IRANSansWeb(FaNum)_UltraLight.ttf') format('truetype');
}
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/eot/IRANSansWeb(FaNum).eot');
    src: url('../fonts/eot/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../fonts/woff2/IRANSansWeb(FaNum).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/IRANSansWeb(FaNum).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/IRANSansWeb(FaNum).ttf') format('truetype');
}
/******end font***********/

body
{
    padding: 0;
    margin: 0;
    text-align:center;
    overflow-x: hidden;
    font-family:IRANSans !important;

}

a:hover{
    text-decoration: none!important;
}

.searchBox{
    border:solid lightgray 2px;
    border-radius:18px;
    padding: 6px 8px;
}
.searchBox .fas{color:gray}
.searchBox input,.searchBox button:focus{ outline: none;
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;}
.logoIcon img{height:60px!important;}
.searchLocation img{width: 60px}
.headerIcon img{width:45px}
.headerIcon a,.searchLocation{transition: all 0.5s}
.headerIcon a:hover,.addToCart:hover,.footerSection2 .contact a:hover{
    -webkit-filter: grayscale(70%);
    filter: grayscale(70%);
}

#advertising{

    border:solid 1px #9e0b0f;
    border-bottom: none;
    position:absolute;
    margin-right:25px;
    background-color: white;
    z-index: 2;
    max-width:200px;
    overflow:hidden;
}
#advertising img{
    height: 250px;
}

.offer{
    border:solid 1px #9e0b0f;
    border-radius:2px;
    padding:7px;
    background-color: white;
}

.offCount{
    width:30px;
    height: 30px;
    border-radius: 50%;
    background-color: #9e0b0f;
    color: white;
}

.addToCartBtn{
    background-color:#9e0b0f ;
    border-radius: 20px;
    color: white;
    border: none;
    transition: all 0.4s;
}

.addToCartBtn:hover{
    background-color: #68080c;
}

.addToCart img{
    width:26px;
}

.borderOfferLeft{
    border-left: solid 1px #9e0b0f;
}

.mainImage img{
    width:auto;
    height: 250px;
}
.subImage img,.otherOffer{
    width:auto;
    height:125px;
}

.bg-offerGray{
    background-color: #e1e1e1;
}
.bg-offRed{
    background-color: #9e0b0f;
}

.price{
    color:#11b258;
}

small{
    font-size: 70%!important;
}

.container-fluid{
    max-width: 1920px;
    padding: 0!important;
}

@media screen and (max-width:650px) {
    #advertising{
        max-width:140px;

    }
}
@media screen and (min-width:650px) and (max-width:1200px) {
    #advertising{
        max-width:160px;

    }
}​,

h2{
    font-size:25px!important;
 }

.footerSection1{
    background: url("../images/bgFooter.jpg");
}
.footerSection1 h3{
    color:#f73d1a;
}

.footerSection1 input,.footerSection1 select{ outline: none;
    border: none !important;
    padding: 5px;
    background-color: white;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}
.footerSection1 select{
    border-left:solid lightgray 1px!important;
}

#subscription{
    background: white;
    border-radius: 20px;
}

#subscription button{
    background-color:#f53f21;
    border-radius: 20px;
    color:white;
    padding: 5px 15px;
    margin: 5px 0 5px 0;
    border: none;
    transition: all 0.4s;
    font-size: 13px;
}
#subscription button:hover{
    background-color: #9a2616;

}
.footerSection2{
    background-color:#636363 ;
}

.footerSection2 .contact img{
    width:40px;
}
.namad img{
    height: 90px;
}
.namad a{
    font-size: 17px;
    font-weight: bold;
    transition: all 0.4s;
    color:white;
}
.namad a:hover{
    color:#f53f21;
}

.advertisingDakheli h3{
    font-size: 16px;
    color: #9a2616!important;
}
.advertisingDakheli a{
    color: #9a2616!important;
    font-size: 13px;
    text-align: right;
}
.advertisingDakheli a:hover{
    color: #f53f21!important;

}
.advertisingDakheli hr{
    width:100%;
    border-color:#9a2616!important;

}

.fa-map-marker-alt{
    color:#cf2428;
    font-size:25px;
}

.takhfifTxt{
    font-size: 14px!important;
}

.takhfifImg img{
    height:250px;
    width:100%;
}

.sameDiscountImg img{
    height:100px;
}

.sameDiscount{
    background-color: #646363;
    height: 380px;
}
.offerMain{
    height: 380px;
}

.userComment{
    background-color: #f6efef;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    border-color:#fff #fff red!important;
    border-bottom: solid red 2px;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
    border-color:#fff #fff red!important;
    border-bottom: solid red 2px;
}

.faq,.aboutUs{
    font-size: 14px;
}

.reply{
    background-color: #fafafa;
    border:solid #dcdcdc 1px;
    border-radius: 5px;
}

.profilePicture{
    max-width:100px!important;
    max-height:100px!important;
}
/***star rating*/

.rating-stars{direction: ltr}

/* Rating Star Widgets Style */
.rating-stars ul {
    list-style-type:none;
    padding:0;

    -moz-user-select:none;
    -webkit-user-select:none;
}
.rating-stars ul > li.star {
    display:inline-block;

}

/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
    font-size:1.5em; /* Change the size of the stars */
    color:#ccc; /* Color on idle state */
    cursor: pointer;
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
    color:#FFCC36!important;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
    color:#FF912C;
}

.bgInput{
    background-color: #9e0b0f!important;
    border-color: black!important;
    color:white!important;
}
.loginBtn{
    background-color: #555555!important;
    border-color: black!important;
    color: white!important;
}
.loginBtn:hover{
    background-color: #373737 !important;
    border-color: black!important;

}

.downloadApp{
    background-color: #555555!important;
    border-color: black!important;
    color: black!important;
}
.downloadApp:hover{
    background-color: #6f6f6f !important;

}
.bullet{
    width:20px;
    height:20px;

    border-radius: 50%;
    background: rgb(201,11,21);
    background: radial-gradient(circle, rgba(201,11,21,1) 0%, rgba(255,213,215,1) 100%);
}

.yourBusinessBanner{
    background-image: url("../images/baner.png");
    background-size:100% 100%;
    height:250px;
    color:#9e0b0f;
}
.text-red{
    color:#9e0b0f;
}

.yourBusiness img{
    width:130px;
}
.divBusiness{
    background-color: #646363;
    color:white;
    border-radius: 5px;
    min-height:200px;
    height:100%;
}